.title{
    color: whitesmoke;
    font-size: 40px;
    margin-left: 38%;
    font-family: monospace;
}

.row-one{
    margin-top: 10%;
    margin-left:1%;
    margin-right: 1%;
}

.row-five{
    margin-bottom: 2%;
}

.row{
    margin-left: 1%;
    margin-right: 1%;
}

.panel-footer{
    text-align: right;
}

.print-button{
    margin-left: 45%;
}

.save-button{
    margin-left: 5%;
}

.top-buffer {
    margin-top:20px;
    margin-bottom: 20px;
}

.start-btn{
    margin-bottom: 1%;
    margin-left: 45%  
}
