
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(46, 45, 45);
    text-align: center;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.title{
    font-family: monospace;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 38%;
}

.nav-item{
    font-family: monospace;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 15vh;
    left: 0;
    height: 100vh;
    z-index: -1;
    background: #1e1e1e;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1e1e1e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(46, 44, 44);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1e1e1e;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1e1e1e;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1e1e1e;
}

#textcontent {
    position: absolute; left: 275px; top: 125px;
}

section {
    border-bottom: 1px solid #afaeae;
}

#AFS li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.7em;
    padding-bottom: 10px;
    color: rgb(46, 45, 45);
    text-align: center;
    font-weight: bold;
}
