/*styling for the text input fields in the home page form*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*styling for the submit button, which gives it a blue background and white text*/
input[type=submit] {
    width: 30%;
    background-color: #2489CA;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*makes the submit button a darker shade of blue on hover*/
input[type=submit]:hover {
    background-color: #1b6898;
}

/*styling for the div class the form on the home page is contained in, positioning
it, giving it a white background color, etc.*/
#formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    position: absolute; top: 30vh; left: 28vw;
    width: 40%;
    padding: 50px;
}

.sub-btn{
    color: white;
}

.btn{
    float:right;
}